body {
    background-color: #3D271D;
    color: #1B100B;
}

#wrapper {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #624437;
}

h1 {
    background-color: #AA7258;
    color: gold;
    text-align: center;
    padding: 0px;
    margin: 0;
    padding: 1em;
}

h2 {
    color: gold;
}

nav {
    padding: 1em;
}

footer {
    background-color: #F7A47F;
    font-size: .6em;
    font-style: italic;
    text-align: center;
    padding: 1em;
}